.center {
  width:10%;
  display: flex;
  justify-content: center;
}

.redButton {
  background-color: red;
  color: white;
  display: inline-block;
  height: 60px;
  font-size: larger;
  width: 200px;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
}

.redButton:focus {
  width: 60px;
  font-size: 0;
}

.redButton:focus {
  display: block;
  width: 60px;
  height: 60px;
  background: radial-gradient(
      white 4px,
      black 4.25px 4.5px,
      white 4.75px 6px,
      black 6.25px 8px,
      transparent 8.25px
    ),
    linear-gradient(to bottom, red 0 27px, black 28px 30px, white 24.25px 25px);
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: inset -4px -2px 0 0 rgba(0, 0, 0, 0.2);
  animation: fall 0.5s ease-in-out 1s,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1.5s 3,
    catch 0.5s ease-out 5.25s forwards;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-10px) rotate(-10deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes catch {
  to {
    filter: saturate(0.8) brightness(0.8);
  }
}


// bigger pokeball
/* .redButton:focus {
  display: block;
  width: 192px;
  height: 192px;
  background: radial-gradient(
      white 16px,
      black 17px 18px,
      white 19px 24px,
      black 25px 32px,
      transparent 33px
    ),
    linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
  border-radius: 50%;
  border: 8px solid black;
  box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
  animation: fall 0.5s ease-in-out 1s,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1.5s 3,
    catch 0.5s ease-out 5.25s forwards;
} */
